body {
	background-color:#EE1919;
	text-align:center;
	color:white;
}
h4 {
	display:inline;
	font-size:1.5em;
	margin:0.5em;
}
a {
	text-decoration:none;
	color:black;
}
a:hover {
	transition-duration:0.3s;
	color:#00C957;
}
a:active {
	transition-duration:0s;
	color:yellow;
}
label {
	margin:0.25em;
}
